# .env files
.env
.env.*

# Python artifacts  
__pycache__/
*.pyc
*.pyo
*.pyd

# Git и IDE
.git
.gitignore
.vscode
.idea

# Node / frontend
node_modules
npm-debug.log
dist
build

# Docker
docker-compose*.yml
.DS_Store
